[user]
    name = joaquin
    email = jpinilloslr@gmail.com
[core]
    editor = nvim
[pull]
    ff = only
[color]
    ui = auto
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    new-branch = "!f() { git checkout -b \"$1\" && git push -u origin \"$1\"; }; f"
    delete-my-local-branches = "!git branch | grep 'joaquin' | xargs git branch -d"
